[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
torch = "*"
f110-gym = {git = "https://github.com/nandantumu/f1tenth_gym.git"}
numpy = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
ray = "*"
jupyter = "*"
joblib = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
